:root {
  --main-backround-color: indigo;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    box-sizing: border-box;
}

body {
  background-color: var(--main-backround-color);
}

.container {
  margin: 0px;
  padding: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 1000px;
  height: 500px;
  border-style: double;
}
